@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Faster+One');

body {
  background-color:  #660000;
  text-align:  center }
   
img {
  width: 1000px;
  height: 500px;
  
}
 
h1 {
    font-family: 'Faster One', cursive;
}

#title {
  background: white;
}
h1 { color:}
p  { color: 
  }